{block content}
<div id="banner">
	<h1 n:block=title>Just home page</h1>
</div>

<h2>Don't realy know what to write here.</h2>
<p>
	<h3>time spend</h3>
	<ul class="uk-list">
		<li>to make the ORM to work <span class="uk-text-warning">6h</span></li>
		<li>sign <span class="uk-text-warning">30min</span></li>
		<li>register <span class="uk-text-warning">4:30min</span> I got stack at user storage, it did't kept the logged user.</li>
		<li></li>
	</ul>
</p>